[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/compile-time-regular-expressions"]
	path = external/compile-time-regular-expressions
	url = https://github.com/hanickadot/compile-time-regular-expressions
